@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.NavBar{
    width: 100vw;
    height: 11vh;
    display: flex;
    justify-content: space-around;
    gap: 15rem;
    background-color: rgb(0, 0, 0);
    font-family: 'Raleway', sans-serif;
    border-bottom: 4px 4px 4px solid white;
    z-index: 2;
    position: fixed;
}

.logo{
    width: 80px;
    height: 80px;
}

.NavLinks{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    list-style: none;
    margin-top: 2em;
}

.cart{
    margin-left: 30rem;
    border: none !important;
}

.cart::after{
    display: none !important;
}


.NavLinksDiv{
    margin-right: 5em;
}

.link{
    text-decoration: none;
    color: white;
}

.link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: white;
    transition: width .3s;
}

.link:hover::after {
    width: 100%;
    transition: width .3s;
}

.cart{
    position: relative;
}

.notify{
    color: white;
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: red;
    width: 12px;
    height: 12px;
    border-radius: 20px;
    font-size: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width: 480px) {
   .NavBar{
    gap: 5em;
   }
   .cart{
    margin-left: 1em;
   }
  }